<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List the languages for Data science
* List the libraries use in Data science
* List the tools that can be used for Data science
* Few examples of evaluating arithmetic expressions in python

Some of the data science languages are:-
1) Python
2) R
3) SQL
4) Php
5) Java
6) Julia 
7

Data Science Libraries are as follows:-
1) TensorFlow
2) Numpy
3) Pandas
4) Matplotlib
5) Scipy

Data science tools:-
|Data science Tools|
|------------------|
|MySql|
|Hadoop|
|Pixiedust|
|Hue|
|sparkSQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jiit Bhatt